body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.main {
  margin: 0 auto;
  max-width: 80ch;
}
.your-style {
  font-family: "Progex";
  font-weight: normal;
  font-style: normal;
}
.your-style {
  font-family: "Kalperica";
  font-weight: normal;
  font-style: normal;
}
