.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  width: 1200px;
  color: black;
}
.navbar {
  background: #f5f5f5;
  width: 100%;
  font-family: "Kalperica";
}
.header {
  margin-bottom: 20px;
}
