.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.text {
  display: flex;
  align-items: center;
  width: 750px;
  height: 780px;
  font-size: 50px;
}
.cool {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-self: center;
}
.containe {
  display: flex;
  justify-content: space-around;
  align-self: center;
}
